*{
  margin: 0;
  padding: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

#main{
  height: 100vh;
  background-color: aqua;
  position: relative;
}

#head{
  margin-bottom: 10px;
}
/*não é bom fazer padding para um elemento pai, pois os filhos vão ter sua posição centralizada modificada*/
#containerAll{
  padding: 50px;
  border: 1px solid;
  border-radius: 10px;
  border-color: red;
  
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.AroundInputs{
  padding: 10px;
  align-items: center;
  margin-bottom: 10px;
  text-align: center;
}

#form1 .integerTimes{
  margin-top: 3px;
  border-radius: 5px;
  padding: 3px;
}

#form2 .integerTimes{
  display: block;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 3px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

#form2{
  text-align: center;
}

#containerTempInput{
  width: 100%;
  background-color: coral;
  border: 5px dotted;
  border-radius: 10px;

}

button#submitTimes{
  margin: 3px;
  position: relative;
  
}

button#submitTemp{
  margin-top: 10px;
  display: block;
  left: 50%;
  position: relative;
  transform: translate(-50%, 0);

}

#title{
  margin: 10px;
}

#submitTemp{
  display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
}